@{
    var visibleGrid = "";
    var visibleBreakpoints = "";

    if (ViewBag.visibleGrid) {
        visibleGrid = " visible-grid";
    }

    if (ViewBag.visibleBreakpoints) {
        visibleBreakpoints = " visible-breakpoints";
    }

}

<!doctype html>
<html lang="en" class="no-js">
    <head>

        @Html.Partial("~/Views/Components/head/head.cshtml")

    </head>
    <body class="body @visibleGrid @visibleBreakpoints">
        @Html.Partial("~/Views/Components/header/header.cshtml")

        <div id="page" class="page @ViewBag.pageClass">
            <main class="main" id="main">
                @RenderSection("FullWidthA", required: false)

                <div class="layout layout--a">
                    <div class="region region--a">
                        <div class="region-inner">
                            @RenderSection("RegionA", required: false)
                        </div>
                    </div>
                </div>

                @RenderSection("FullWidthB", required: false)

                @Html.Partial("~/Views/Components/footer/footer.cshtml")
            </main>
        </div>

        @if (ViewBag.visibleGrid) {
            @Html.Partial("~/Views/Components/other/grid.cshtml")
        }

        @Html.Partial("~/Views/Components/foot/footScripts.cshtml")
    </body>
</html>
