@{
    var visibleGrid = "";
    var visibleBreakpoints = "";

    if (ViewBag.visibleGrid) {
        visibleGrid = " visible-grid";
    }

    if (ViewBag.visibleBreakpoints) {
        visibleBreakpoints = " visible-breakpoints";
    }

}

<!DOCTYPE html>
<html>
    <head>

        @Html.Partial("~/Views/Components/head/headApp.cshtml")
        @Html.Partial("~/Views/Components/head/headCss.cshtml")
        @Html.Partial("~/Views/Components/head/headFonts.cshtml")
        @Html.Partial("~/Views/Components/head/headIcons.cshtml")
        @Html.Partial("~/Views/Components/head/headMeta.cshtml")
        @Html.Partial("~/Views/Components/head/headScripts.cshtml")

    </head>
    <body class="body @visibleGrid @visibleBreakpoints">
        @RenderBody()

        @if (ViewBag.visibleGrid) {
            @Html.Partial("~/Views/Components/other/grid.cshtml")
        }

        @Html.Partial("~/Views/Components/foot/footScripts.cshtml")
    </body>
</html>
