@{
    ViewBag.visibleGrid = false;
    ViewBag.visibleBreakpoints = false;
    Layout = "~/Views/Layouts/bb.cshtml";
    var json = Helpers.ModelHelper.GetModel("global.json");
}

<div class="main" id="main">

	<div class="client-image" style="background-image: url(@json.clientImage); background-size: cover; background-position: center;">
		<img class="client-logo" src="@json.clientLogo" alt="Client Logo" height="50" />
	</div>
	<div class="site-files">
        <div class="container">
            <header class="header" role="banner">
                <a href="#" class="logo">
                    <img src="/_bb/bb-logo.svg" alt="Building Blocks" width="83" height="50" />
                </a>
                <h1 class="project-title">
                    @json.title
                </h1>
            </header>
            <div class="content">
                @Html.Partial("~/Views/Components/_bb/styleguideLink.cshtml")
                @Html.Partial("~/Views/Components/_bb/pageList.cshtml")
            </div>
            <footer class="footer" role="contentinfo">
                <p>&copy; Copyright @DateTime.Now.Year Building Blocks Ltd.</p>
            </footer>
        </div>
    </div>
</div>
